:has(> .Launched__tag-container) {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
}

.tagged:has(.Launched__tag-container.active .Launched__tag-inlineEditor) {
  color: transparent;
}

.Launched__tag-container {
  position: absolute;
  width: calc(100% + 8px);
  height: max-content;
  min-height: calc(100% + 8px);
  inset: -4px;
  padding: 4px;
  outline: 1px dashed;
  outline-color: color-mix(in srgb, rgba(255, 0, 255, 0.1) 70%, var(--accent));
  transition:
    outline-color 200ms ease-out,
    border-radius 200ms ease-out;

  &:hover,
  &:focus {
    outline-color: var(--accent);
    border-radius: 1px;
  }

  &.active {
    outline-color: var(--accent);
    border-radius: 1px;
    outline-style: solid;
    box-shadow: var(--shadow);
    z-index: 10;

    & .Launched__tag-inlineEditor {
      color: var(--text);
    }

    & .Launched__tag-arrayControls {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.Launched__tag-arrayControls {
  position: absolute;
  right: -4px;
  top: 50%;
  translate: 100% -50%;
  flex-direction: column;
  gap: 0.25rem !important;
  color: var(--text-secondary);

  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms ease-out;

  --color: var(--accent);
}
