.Launched__tag-container:has(.Launched__tag-inlineEditor) {
  font-family: inherit;
  min-width: min-content;

  &.active {
    background-color: var(--surface);
  }
}

.Launched__tag-inlineEditor {
  display: inline-block;
  outline: none;
  color: transparent;

  font: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-align: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  white-space: inherit;
  word-spacing: inherit;
  word-break: inherit;
  word-wrap: inherit;
  text-overflow: inherit;
  text-indent: inherit;
  text-rendering: inherit;
  text-align-last: inherit;
  text-justify: inherit;
  text-overflow: inherit;
  text-orientation: inherit;

  &[data-empty="true"] {
    color: inherit;

    &::after {
      content: "Enter text...";
      pointer-events: none;
      width: 100%;
    }
  }
}
