.Launched__tag-linkInput {
  width: max-content;
  height: max-content;
  max-width: 150px;
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% calc(-100% - 8px);
  background-color: var(--surface);
  border-radius: 0.25rem;
  box-shadow: var(--shadow);
  padding: 0.25rem 0.5rem;
  font-size: 14px;
  color: var(--text);
}

.Launched__tag-linkInput > input {
  outline: none !important;
  max-width: 100%;
}

.Launched__tag-linkInput > input:placeholder {
  color: var(--text-secondary);
}
