.Launched__toolbar {
  position: fixed;
  top: 0.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.Launched__toolbar[data-position="right"] {
  right: 0.25rem;
}

.Launched__toolbar[data-position="left"] {
  left: 0.25rem;
}

.Launched__toolbar[data-position="center"] {
  left: 50%;
  transform: translateX(-50%);
}

.Launched__toolbar-tools {
  display: flex;
  padding: 0.25rem;
  gap: 0.5rem;
  background-color: var(--surface);
  box-shadow: var(--shadow);
  border-radius: 6px;
}

.Launched__toolbar-saveButton,
.Launched__toolbar-revertButton {
  padding: 0.25rem 0.5rem;
  color: white;
  border-radius: 4px;
  transition: background-color 200ms ease-out;
  font-size: 14px;
  background-color: var(--color);

  &:hover {
    background-color: color-mix(in srgb, rgba(0, 0, 0, 0.1) 30%, var(--color));
  }
}

.Launched__toolbar-saveButton {
  --color: var(--accent);
}

.Launched__toolbar-revertButton {
  --color: var(--error);
}

.Launched__toolbar-button {
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  transition: background-color 200ms ease-out;
  background-color: color-mix(in srgb, rgba(0, 0, 0, 0.1) 30%, var(--surface));

  &:hover {
    background-color: color-mix(
      in srgb,
      rgba(0, 0, 0, 0.1) 50%,
      var(--surface)
    );
  }

  & > .Launched__icon {
    width: 1rem;
    height: 1rem;
  }
}
