/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3578e5; /*#25c2a0;*/
  --ifm-color-primary-dark: #1d68e1; /*rgb(33, 175, 144);*/
  --ifm-color-primary-darker: #1b62d4; /*rgb(31, 165, 136);*/
  --ifm-color-primary-darkest: #1751af; /*rgb(26, 136, 112);*/
  --ifm-color-primary-light: #4e89e8; /*rgb(70, 203, 174);*/
  --ifm-color-primary-lighter: #5a91ea; /*rgb(102, 212, 189);*/
  --ifm-color-primary-lightest: #80aaef; /*rgb(146, 224, 208);*/
  --ifm-code-font-size: 90%; /*95%;*/
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme="dark"] {
  --ifm-background-color: #1e2125;
  --ifm-background-surface-color: #121212;
}

/* Launched style resets */
#Launched__container {
  display: flex;
  margin: -16px;
  margin-block-start: -64px;

  .tagged {
    margin: 0;

    input {
      border: none;
    }
  }

  #content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 48px;
    gap: 20px;
    background-color: white;
  }

  #output {
    max-width: 50%;

    #header {
      letter-spacing: 0.08rem;
      padding: 0.75rem;
      text-transform: uppercase;
      font-weight: bold;
      background-color: var(--ifm-color-emphasis-200);
      color: var(--ifm-color-content);
      font-size: var(--ifm-code-font-size);
    }

    #dataview {
      font: monospace;
      background-color: var(--ifm-color-content);
      padding: 20px;
    }
  }

  .Launched__toolbar {
    position: relative;
    order: -1;
    top: 0;

    .Launched__toolbar-tools {
      box-shadow: none;
      padding: 0;
    }
  }
}

@media (max-width: 768px) {
  #Launched__container {
    flex-direction: column;
  }
}
