@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --accent: #ff7f24;
  --error: #ff3d00;
  --surface: #ffffff;
  --background: #f5f5f5;
  --text: #000000;
  --text-secondary: #6e6e6e;
  --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --font: "Inter", sans-serif;
}

*[class^="Launched__"] {
  appearance: none;
  border: none;
  box-sizing: border-box;
  font-family: var(--font);
}

*[class^="Launched__"] button {
  cursor: pointer;

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.Launched__icon {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.Launched__button {
  padding: 0.25rem 0.5rem;
  color: white;
  border-radius: 4px;
  transition: background-color 200ms ease-out;
  font-size: 14px;
  background-color: var(--color);

  &:hover {
    background-color: color-mix(in srgb, rgba(255, 255, 255) 25%, var(--color));
  }

  & > .Launched__icon {
    width: 1rem;
    height: 1rem;
  }
}
