.Launched__tag-container {
  cursor: pointer;
  position: absolute;
  inset: 0;
  width: 100%;
  /* min-height: 100%;
  height: min-content; */
  height: 100%;
  outline: 1px solid;
  outline-color: color-mix(in srgb, rgba(255, 0, 255, 0.1) 70%, var(--accent));
  outline-offset: 2px;
  transition:
    outline-color 200ms ease-out,
    border-radius 200ms ease-out;

  &:hover,
  &:focus {
    outline-color: var(--accent);
    border-radius: 1px;
  }

  &.active {
    outline-width: 2px;
    outline-color: var(--accent);
    border-radius: 1px;
  }

  .tagged:has(div > &.active .Launched__tag-inlineEditor) {
    color: transparent;
  }
}

.Launched__tag-container:has(.Launched__tag-inlineEditor) {
  font: inherit;
  line-height: inherit;
  letter-spacing: inherit;

  display: inline-grid;
  vertical-align: top;
  align-items: stretch;
  color: transparent;

  &::after,
  textarea {
    grid-area: 2 / 1 / 1;
    width: auto;
    min-width: 1em;
    resize: none;
  }

  &::after {
    content: attr(data-value) " ";
    visibility: hidden;
    white-space: pre-wrap;
  }

  &.active {
    color: var(--accent);
  }
}

.Launched__tag-inlineEditor {
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
  font: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: currentColor;
  caret-color: currentColor;
}
