:has(> .Launched__tag-container) {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
}

.Launched__tag-container {
  position: absolute;
  width: calc(100% + 8px);
  height: max-content;
  min-height: calc(100% + 8px);
  inset: -4px;
  padding: 4px;
  outline: 1px dashed;
  outline-color: color-mix(in srgb, rgba(255, 0, 255, 0.1) 70%, var(--accent));
  transition:
    outline-color 200ms ease-out,
    border-radius 200ms ease-out;

  &:hover,
  &:focus {
    outline-color: var(--accent);
    border-radius: 1px;
  }

  &.active {
    outline-color: var(--accent);
    border-radius: 1px;
    outline-style: solid;
    background-color: var(--surface);
    box-shadow: var(--shadow);
    z-index: 10;

    & > .Launched__tag-inlineEditor {
      color: inherit;
    }
  }
}

.Launched__tag-inlineEditor {
  outline: none;
  color: transparent;

  font: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-align: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  white-space: inherit;
  word-spacing: inherit;
  word-break: inherit;
  word-wrap: inherit;
  text-overflow: inherit;
  text-indent: inherit;
  text-rendering: inherit;
  text-align-last: inherit;
  text-justify: inherit;
  text-overflow: inherit;
  text-orientation: inherit;
}

.Launched__popoutContainer {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms ease-out;
  will-change: opacity;

  &:has(> .active) {
    opacity: 1;
    pointer-events: auto;
  }
}

.Launched__popoutContainer > *:not(.active) {
  display: none;
}

.Launched__tag-popoutEditor {
  padding: 1.5rem;
  background-color: var(--surface);
  border-radius: 4px;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .Launched__tag-popoutEditor {
    width: 100%;
  }

  .Launched__popoutContainer {
    align-items: flex-end;
  }
}

/* Toolbar */

.Launched__toolbar {
  position: fixed;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.Launched__toolbar-tools,
.Launched__toolbar-dragHandle {
  display: flex;
  gap: 0.5rem;
  background-color: var(--surface);
  box-shadow: var(--shadow);
  border-radius: 4px;
  padding: 0.5rem;
}

.Launched__toolbar-dragHandle {
  align-items: center;
  justify-content: center;
  cursor: move !important;
  transition: background-color 200ms ease-out;

  &:hover,
  &.active {
    background-color: color-mix(
      in srgb,
      rgba(0, 0, 0, 0.1) 30%,
      var(--surface)
    );
  }
}

.Launched__toolbar-saveButton,
.Launched__toolbar-revertButton {
  padding: 0.25rem 0.5rem;
  color: white;
  border-radius: 4px;
  transition: background-color 200ms ease-out;
  font-size: 14px;
  background-color: var(--color);

  &:hover {
    background-color: color-mix(in srgb, rgba(0, 0, 0, 0.1) 30%, var(--color));
  }
}

.Launched__toolbar-saveButton {
  --color: var(--accent);
}

.Launched__toolbar-revertButton {
  --color: var(--error);
}

.Launched__toolbar-button {
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  transition: background-color 200ms ease-out;
  background-color: color-mix(in srgb, rgba(0, 0, 0, 0.1) 30%, var(--surface));

  &:hover {
    background-color: color-mix(
      in srgb,
      rgba(0, 0, 0, 0.1) 50%,
      var(--surface)
    );
  }

  & > .Launched__icon {
    width: 1rem;
    height: 1rem;
  }
}
