.Launched__tag-container {
  cursor: pointer;
  position: absolute;
  inset: 0;
  width: 100%;
  height: min-content;
  min-height: 100%;
  outline: 1px solid;
  outline-color: color-mix(in srgb, rgba(255, 0, 255, 0.1) 70%, var(--accent));
  outline-offset: 2px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: outline-color 200ms ease-out;
}

.Launched__tag-container:hover,
.Launched__tag-container:focus {
  outline-color: var(--accent);
}

.Launched__tag-container.active {
  outline-width: 2px;
  outline-color: var(--accent);
}
