@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

@font-face {
  font-family: "Faktum Test";
  src: url("../public/fonts/FTRegular.otf") format("opentype");
}

@font-face {
  font-family: "Faktum Test";
  font-weight: bold;
  src: url("../public/fonts/FTBold.otf") format("opentype");
}

@property --bg1 {
  syntax: "<color>";
  initial-value: transparent;
  inherits: false;
}

@property --bg2 {
  syntax: "<color>";
  initial-value: transparent;
  inherits: false;
}

:root {
  font-family: "Faktum Test", sans-serif;
  background-color: theme("colors.bg");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes box-pulse {
  0%,
  100% {
    filter: drop-shadow(0px 0px 0px rgba(8, 8, 21, 0.1));
  }
  50% {
    filter: drop-shadow(0px 7px 20px rgba(8, 8, 21, 0.1));
  }
}

@layer components {
  .btn {
    @apply rounded-lg border border-white/10 bg-white/10 px-3 py-1.5;
    transition:
      --bg1 300ms ease-out,
      --bg2 300ms ease-out;
    background-image: radial-gradient(
      circle at 100% 300%,
      var(--bg1) 0%,
      var(--bg2) 100%
    );

    &:hover {
      --bg1: rgba(255, 105, 36, 0.25);
      --bg2: rgba(255, 149, 36, 0);
    }
  }

  .box {
    filter: drop-shadow(0px 7px 20px rgba(8, 8, 21, 0.075));
    animation: box-pulse 4s infinite ease-in-out;
  }
}
