@font-face {
  font-family: "Faktum Test";
  src: url("../public/fonts/FTRegular.otf") format("opentype");
}

@font-face {
  font-family: "Faktum Test";
  font-weight: bold;
  src: url("../public/fonts/FTBold.otf") format("opentype");
}

:root {
  font-family: "Faktum Test", sans-serif;
  background-color: theme("colors.bg");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
